html{
    height: 100%;
    }
    body{
    height: 100%;
    }
    .container {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
    }
    
    .co {
      width: 85%;
        font-size: 17px;
        display: flex;
        flex-direction: column;
        box-shadow: 10px 10px 5px grey;
        align-content: center;
        justify-content: center;
    
    }
    
    .co-one {
        padding: 5px;
        display: flex;
        border: 1px solid rgb(233, 227, 227);
        border-bottom: 1x solid rgb(233, 227, 227);
        align-content: center;
        justify-content: center;
    
    }
    
    .co-one-checkout {
        flex-grow: 1;
        font-weight: bold;
    }
    
    .co-one-breadcrumb {
        flex-grow: 4;
    }
    
    .co-one-breadcrumb__PM {
        font-weight: bold;
    }
    
    
    .co-hr {
      border-width:0.2;
    }
    .co-two {
        background-color: white;
        display: flex;
        border: 1px solid rgb(233, 227, 227);
        align-content: center;
        justify-content: center;
    }
    
    .co-two-payment {
        flex: 6;
        padding: 5px;
        display: flex;
        flex-direction: column;
        border: 1px solid rgb(233, 227, 227);
    }
    
    
    
    .co-two-payment-wallet {
      display: flex;
      flex: 40;
    }
    
    .co-images {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    
    .co-images_pad {
      padding: 10px;
    }
    .co-images>div{
      flex:1;
      display: flex;
    }
    
    .co-two-cart {
        flex: 4;
        background-color: #EFEFF0;
        padding: 5px;
    }
    
    .co-two-payment-nc {
      display: flex;
      flex-direction: column;
      flex: 6;
    }
    
    .co-two-form {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    
    form  {
      margin:5px;
      padding: 5px;
      width: 60%;
      display: flex;
      align-content: center;
      display: block;
    }
    .form1 {
      flex:display;
      justify-content:center;
      align-content: center;
      align-items: center;
    }
    
    ul.breadcrumb {
        list-style: none;
    
    }
    
    ul.breadcrumb li {
        display: inline;
        font-size: 17px;
    }
    
    ul.breadcrumb li+li:before {
        padding: 5px;
        color: black;
        content: "/\00a0";
    }
    
    ul.breadcrumb li a {
        color: black;
        text-decoration: none;
    }
    
    ul.breadcrumb li a:focus {
        color: blue;
        text-decoration: underline;
    }
    
    
    
    
    
    
    
    
    
    .wrapper {
      background-color: whitesmoke;
      list-style-type: none;
      padding: 0;
      border-radius: 3px;
    }
    .form-row {
      display: flex;
      justify-content: flex-end;
      padding: .5em;
    }
    
    .form-row > input {
      flex: 1;
    }
    .form-row > input,
    .form-row > button {
      flex: 1;
      padding: .5em;
    }
    .form-row > button {
     background: gray;
     color: white;
     border: 0;
    }
    
    #mm {
      width: 15%;
    }
    
    #cvv {
    width: 20%;
    }
    